.education {
  position: relative;
  // min-height: 100vh;
  padding: 100px 0;
  background-color: $brown-color;
  text-align: center;
  color: white;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 130%;
    left: 0;
    top: 50%;
    background-image: url(./../../images/decorations/educatDec.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    z-index: 0;
    mix-blend-mode: screen;
  }
}

.education__title {
  margin-bottom: 40px;
}
.education__info {
  margin: 0 auto;
  width: 90%;
}
.education__certificates {
  overflow: hidden;
  margin-top: 80px;
}
.certificates__slider {
  margin: 0 auto;

  max-width: 95%;
}
.slider__item {
  // margin: 0 20px;
  flex: none;
  width: 700px;
  aspect-ratio: 3/2;
  // height: 480px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(4px 5px 14px rgba(0, 0, 0, 0.15));
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  transform: translateY(17vh);
  background-size: cover;
  width: 15.47px;
  height: 23px;
  &::after {
    display: none;
  }
}
.swiper-button-prev {
  background-image: url(./../../images/icons/edLeft.svg);
}
.swiper-button-next {
  background-image: url(./../../images/icons/edRight.svg);
}

@media (max-width: 1000px) {
  .certificates__slider {
    max-width: 80%;
  }
  .education {
    min-height: auto;
  }
  .slider__item {
    width: 280px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
}
