.footer {
  position: relative;
  padding: 0px 50px 200px;
  background-color: $brown-color;
  &::after {
    position: absolute;
    content: "";
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    background-image: url(./../../images/transitions/footerLine.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
  &::before {
    position: absolute;
    content: "";
    height: auto;
    width: 100%;
    aspect-ratio: 5 /2;
    left: 0;
    bottom: 0;
    background-image: url(./../../images/decorations/footerDec.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: 1;
    mix-blend-mode: screen;
  }
}

.footer__title {
  margin-bottom: 70px;
  color: $primary-color;
  text-align: center;
  position: relative;
  z-index: 2;
}

.footer__links {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  column-gap: 200px;
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    background-color: $primary-color;
  }
}

.footer__links a {
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 1310px) {
  .addition__title {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .addition p {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .footer {
    padding: 0px 50px 50px;
    &::before {
      aspect-ratio: 6 /3;
    }
  }
  .footer__title {
    margin-bottom: 17px;
  }
  .footer__links {
    column-gap: 54px;
    &::after {
      width: 1px;
    }
  }
  .footer__links img {
    width: 58px;
  }
}
