.help {
    padding: 150px 0;
    background-color: $green-color;
    color: $primary-color;
}

.help__title {
    font-size: 92px;
    margin-bottom: 80px;
}
.help__items {
    display: grid;
    grid-gap: 30px;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
}
.help__item {
    height: 400px;
    position: relative;
    padding: 100px 25px 25px;
    background-color: #6B966D;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
.help__item:nth-child(5){
    padding: 25px;
    align-items: center;
}
.help__img {
    position: absolute;
    top: 0;
    transform: translateY(-20%)
}
.help__item:nth-child(4) .help__img, .help__item:nth-child(6) .help__img, .help__item:nth-child(7) .help__img{
    transform: translateY(-10%)
}
.help__desc {
    @extend %regular-text;
    color: $primary-color;
    text-align: center;
}