.help {
  position: relative;
  padding: 150px 0;
  background-color: $green-color;
  color: $primary-color;
  &::after {
    position: absolute;
    content: "";
    height: 130px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-image: url(./../../images/transitions/helpLine.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: 1;
  }
}

.help__title {
  @extend %title-text;
  margin-bottom: 80px;
}
.help__items {
  display: grid;
  grid-gap: 30px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.help__item {
  width: 100%;
  aspect-ratio: 1 /1;
  position: relative;
  padding: 100px 25px 25px;
  background-color: #6b966d;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.help__item:nth-child(5) {
  padding: 25px;
  align-items: center;
}
.help__img {
  position: absolute;
  top: 0;
  transform: translateY(-20%);
}
.help__item:nth-child(4) .help__img,
.help__item:nth-child(6) .help__img,
.help__item:nth-child(7) .help__img {
  transform: translateY(-10%);
}
.help__desc {
  @extend %regular-text;
  color: $primary-color;
  text-align: center;
}
.help__item:nth-child(1) .help__desc,
.help__item:nth-child(3) .help__desc,
.help__item:nth-child(7) .help__desc,
.help__item:nth-child(9) .help__desc {
  transform: translateY(-20%);
}

@media (max-width: 1310px) {
  .help__img {
    position: absolute;

    width: 80%;
    top: 0;
    transform: translateY(-20%);
  }
  .help__item:nth-child(2) .help__img,
  .help__item:nth-child(8) .help__img {
    transform: translateY(-30%);
  }
}
@media (max-width: 1000px) {
  .help {
    padding: 50px 0;
    &::after {
      height: 50px;
    }
  }
  .help__items {
    display: grid;
    grid-gap: 7px;
    grid-template: repeat(3, 1fr) / repeat(3, 33.3%);
  }
  .help__title {
    margin-bottom: 25px;
  }
  .help__item {
    padding: 50px 15px 5px;
    border-radius: 7px;
  }
  .help__item:nth-child(5) {
    padding: 5px;
    align-items: center;
  }
  .help__desc {
    font-size: 7.5px;
  }
}
